<template>
	<v-container fluid id="loginCss" fill-height>
		
		<ul class="circles">
	    <li></li>
	    <li></li>
	    <li></li>
	    <li></li>
	    <li></li>
	    <li></li>
	    <li></li>
	    <li></li>
	    <li></li>
	    <li></li>
	  </ul>

	  <v-row justify="center">
	  	<v-col cols="10" sm="6" md="4" lg="3">
				<v-card class="transparent elevation-0">

					<v-card-title primary-title class="text-center mb-4">
						<v-spacer></v-spacer>
					  <v-img src="@/assets/fondos/logo_blanco_fast.png" contain max-width="280"></v-img>
						<v-spacer></v-spacer>
					</v-card-title>

				  <v-form
				    ref="form"
				    v-model="valid"
				    lazy-validation
				  >
				    <v-text-field
				      v-model="usuario"
				      :rules="[rules.required]"
				      label="Usuario"
				      required
				      rounded
				      filled
				      color="primary"
				      class="white mb-4"
				      hide-details
				    ></v-text-field>

				    <v-text-field
	            :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
	            :rules="[rules.required]"
	            :type="showPassword ? 'text' : 'password'"
	            name="input-10-2"
	            label="Contraseña"
	            v-model="password"
	            @click:append="showPassword = !showPassword"
	            rounded
	            filled
	            color="primary"
	            class="white mb-4"
	            hide-details
	            @keyup.enter="validarUsuario()"
	          ></v-text-field>
				  </v-form>

				  <v-card-actions>
				    <v-spacer></v-spacer>
				    <v-btn
				      color="white"
				      class="primary--text text-capitalize px-6"
				      @click="validarUsuario()"
				      rounded
				    >
				      Iniciar sesión
				    </v-btn>
				  </v-card-actions>
				</v-card>
	  	</v-col>
	  </v-row>

	  <!-- boton para soporte -->
	  <v-speed-dial
      bottom
      right
      absolute
    >
      <template v-slot:activator>
        <v-btn
          color="white"
          fab
          @click="soporteLogin = true"
        >
          <v-icon color="primary">
            mdi-headphones-settings
          </v-icon>
        </v-btn>
      </template>
    </v-speed-dial>

    <div class="text-center">
	    <v-bottom-sheet v-model="soporteLogin" max-width="600" rounded>
	      <v-list>
	        <v-subheader>Soporte <v-spacer></v-spacer> <v-btn icon @click="soporteLogin = false"><v-icon>mdi-close</v-icon></v-btn></v-subheader>
	        <v-list-item
	          v-for="tile in settings"
	          :key="tile.title"
	          :to="{name: tile.path}"
	        >
	          <v-list-item-avatar>
	            <v-avatar
	              size="32px"
	              tile
	            >
	              <v-icon :color="tile.color"> {{ tile.icon }} </v-icon>
	            </v-avatar>
	          </v-list-item-avatar>
	          <v-list-item-title>{{ tile.title }}</v-list-item-title>
	        </v-list-item>
	      </v-list>
	    </v-bottom-sheet>
	  </div>

	  <Alerta      v-if="respuestaAlerta" :parametros="parametros"/>
	  <Loader      v-if="cargar"    :loader="loader"/>

	</v-container>
</template>

<script>
	import {
    ActionPerformed,
    PushNotificationSchema,
    PushNotifications,
    Token,
  } from '@capacitor/push-notifications';
  import { Device } from '@capacitor/device';


	import { mapActions } from 'vuex'
	// Dependencias
  const md5     = require('md5')

  // Componentes
  import Alerta        from '@/components/alertas/Alerta.vue'
  import Loader        from '@/components/alertas/Loader.vue'


  // Mixins
  import  validarErrores from '@/mixins/validarErrores.js';

  export default {
  	components:{
  		Alerta,
  		Loader
  	},

  	mixins:[validarErrores],

    data: () => ({
    	escuela: null,
    	settings: [
        { icon: 'mdi-lock' , title: 'Recuperar contraseña' , path: 'RecuperarPassword', color: 'black'},
        { icon: 'mdi-email', title: 'No me llego el correo', path: 'ReenviarCorreo'   , color: 'primary'}
      ],

    	soporteLogin: false,
      valid: true,
    	
    	// Datos del usuario
    	usuario:'',
    	password:'',
      showPassword: false,
      rules: {
        required: value => !!value || 'Requerido.'
      },

      respuestaAlerta: false,
      loader: true,
      cargar: false,
      parametros:{
      	dialogError: false,
      	mensaje: '',
      	color: ''
     	},

     	idusuario: 0
    }),

    created ( ){
    	this.escuela = this.$store.state.ESCUELA 
    },

    methods: {
    	...mapActions( 'login', [ 'grabarUsuario' ]),

      validarDatos () {
        return this.$refs.form.validate()
      },

      validarUsuario (){
      	if( this.validarDatos() ){
      		this.cargar = true
      		// validar los datos del usuario
      		const payload = {
	      		usuario: this.usuario.trim(),
	      		password: md5(this.password.trim())
	      	}

	      	this.$http.post('usuario.validar.acceso', payload).then( async (response) => {
	      		this.idusuario = response.body.usuario.id 
	      		this.grabarMovil( this.idusuario )
	      		this.activarNotificaciones( this.idusuario )
	      		this.grabarUsuario( response.body )
	      		this.cargar = false
	      	}).catch( error => {
	      		this.cargar = false
	      		if( error.status == 400 || error.status == 500){
	      			this.parametros.mensaje      = error.body.message
	      			this.parametros.dialogError  = true 
	      			this.parametros.color        = '#FF2C2C' 
	      			this.respuestaAlerta         = true 
	      		}
	      	}).finally(()=>{ this.cargar = false })
      	}
      },

      async activarNotificaciones ( id ) {
      	console.log('Initializing HomePage');
        // Request permission to use push notifications
        // iOS will prompt user and return if they granted permission or not
        // Android will just grant without prompting
        PushNotifications.requestPermissions().then(result => {
          if (result.receive === 'granted') {
            // Register with Apple / Google to receive push via APNS/FCM
            PushNotifications.register();
          } else {
            // Show some error
          }
        });

        // Registrar el dispositivo y regresar el token
        PushNotifications.addListener('registration', token => {
        	this.grabarTokenNotificacion( this.idusuario, token.value )
          console.info('Push registration success, token: ' + token.value);
        });

        // Some issue with our setup and push will not work
        PushNotifications.addListener('registrationError', error => {
          console.info('Error on registration: ' + JSON.stringify(error));
        });

        // Show us the notification payload if the app is open on our device
        PushNotifications.addListener('pushNotificationReceived', notification => {
          // Carga util si esta abierto el dispositivo
          // alert('Push received: ' + JSON.stringify(notification));
        });

        // Show us the notification payload if the app is open on our device
        PushNotifications.addListener('alertaDescuento', notification => {
          // Carga util si esta abierto el dispositivo
          // alert('Push received: ' + JSON.stringify(notification));
        });


        // Show us the notification payload if the app is open on our device
        PushNotifications.addListener('alertaRetardoSucursal', notification => {
          // Carga util si esta abierto el dispositivo
          // alert('Push received: ' + JSON.stringify(notification));
        });

        // Show us the notification payload if the app is open on our device
        PushNotifications.addListener('calificarClase', notification => {
          // Carga util si esta abierto el dispositivo
          // alert('Push received: ' + JSON.stringify(notification));
        });

        // Metodo que se manda a llamar cuando se toca la notificacion
        PushNotifications.addListener('pushNotificationActionPerformed', notification => {
          // alert('Push action performed: ' + JSON.stringify(notification));
        });
      },

      grabarTokenNotificacion( id, token ){
      	const payload = { id: this.idusuario, token }
      	this.$http.post('usuario.token.notificacion', payload).then( response => {
      		this.cargar = false
      	}).catch( error => {
      		this.cargar = false
      		if( error.status == 400 || error.status == 500){
      			this.parametros.mensaje      = error.body.message
      			this.parametros.dialogError  = true 
      			this.parametros.color        = '#FF2C2C' 
      			this.respuestaAlerta         = true 
      		}
      	}).finally(()=>{ this.cargar = false })
      },

      async grabarMovil( idusuario ){
      	// Actualizar el tipo de dispositivo, esto es para poder recibir notificaciones
      	const info = await Device.getInfo();
      	const payload = { id: idusuario, dispositivo: info.operatingSystem }
      	this.$http.post('usuario.tipodispositivo', payload).then( response => {
	        this.cargar = false
	      }).catch( error => {
	        this.cargar = false
	        if( error.status == 400 || error.status == 500){
	          this.parametros.mensaje      = error.body.message
	          this.parametros.dialogError  = true 
	          this.parametros.color        = '#FF2C2C' 
	          this.respuestaAlerta         = true 
	        }
	      }).finally(()=>{ this.cargar = false })

      },

      reset () {
        this.$refs.form.reset()
      },
      resetValidation () {
        this.$refs.form.resetValidation()
      },
    },
  }
</script>

