<template>
  <v-app>
    <!-- Router -->
    <v-main>
      <router-view/>
    </v-main>

    <!-- Footer  -->
    <v-footer app class="pa-0" v-if="getLogeadoLMS">
      <Navegador/>
    </v-footer>

    <NoInternet v-if="!estatusInternet"/>

  </v-app>
</template>

<script>
  // Componentes
  import { Device } from '@capacitor/device';

  import Navegador  from '@/components/Navegador.vue'
  import NoInternet from '@/components/alertas/NoInternet.vue'

  // Librerías y más
  import { mapGetters, mapActions } from 'vuex'

  // Capacitor
  import { Network } from '@capacitor/network';

  // import { NativeBiometric } from "capacitor-native-biometric";

  export default {
    components:{
      Navegador,
      NoInternet,
    },

    name: 'App',

    data: () => ({
      drawer: true,
      drawer2:false,
      mini:false,
      escuela:2,
      color_active:'',
      estatusInternet: false
    }),

    async created ( ){
      // this.biometric()

      if( this.getUsuarioLMS ){
        // Actualizar el tipo de dispositivo, esto es para poder recibir notificaciones
        const info = await Device.getInfo();

        const payload = { id: this.getUsuarioLMS.id, dispositivo: info.operatingSystem }
        this.$http.post('usuario.tipodispositivo', payload).then( response => {
          this.cargar = false
        }).catch( error => {
          this.cargar = false
          if( error.status == 400 || error.status == 500){
            this.parametros.mensaje      = error.body.message
            this.parametros.dialogError  = true 
            this.parametros.color        = '#FF2C2C' 
            this.respuestaAlerta         = true 
          }
        }).finally(()=>{ this.cargar = false })
      }

      Network.addListener('networkStatusChange', status => {
        this.estatusInternet = status.connected ;
      });

      const status = await Network.getStatus();
      this.estatusInternet = status.connected ;
    },


    methods:{
      ...mapActions( 'login', [ 'salirLogin' ]),
      salir(){
        this.salirLogin()
      },

      // async biometric( ){
      //   try {
      //     let  result =  await NativeBiometric.isAvailable().then( response => response )

      //     const isAvailable = result.isAvailable;

      //     if (isAvailable) {
      //       // Authenticate using biometrics before logging the user in
      //       const resultVerify = await NativeBiometric.verifyIdentity({
      //         reason: "For easy log in",
      //         title: "Fingerprint Authentication",
      //         subtitle: "Maybe add subtitle here?",
      //         description: "Maybe a description too?",
      //       }).then( response => response )

      //       alert( 'Acceso concedido' )
      //     }

      //   }catch( error ){
      //     alert(`error: ${ error }`)
      //   }

      // }
    },

    computed:{
      ...mapGetters( 'login', [ 'getUsuarioLMS', 'getLogeadoLMS', 'getDatosUsuarioLMS' ]),
    }
  };
</script>

<style>
  

</style>
